.app {
  margin:40px auto 0 auto;
  width:400px;
  padding:20px;
  background-color:#ddd;
}

.app .new_item {
  width:398px;
  float:none;
}

.app .list .content {
  max-height:200px;
}

.todo_item .edit,
.todo_item .delete {
  display:none;
}

.todo_item .checkbox .label {
  width:270px; 
  white-space:nowrap;
  overflow:hidden;
}

.todo_item:hover .edit,
.todo_item:hover .delete {
  display:block;
}

.todo_item .edit_text {
  position:absolute;
  left:17px;
  width:371px;
  display:none;
  z-index:1;
}
