.button {
  position:relative;
  float:left;
  display:block;
  height:28px;
  text-decoration:none;
  color:#333;
  font-size:14px;
  font-family:Helvetica;
}

.button.has_border {
  border:1px solid #666;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  background-color:#eee;
}

.button.has_glyph {
  padding-left:26px;
}

.button.has_glyph_right {
  padding-right:26px;
}

.button .label {
  line-height:28px;
  padding:0 5px;
}

.button.has_border.disabled {
  color:#aaa;
  border-color:#999;
}

.button.disabled .glyph {
  filter:alpha(opacity=50);
  opacity:0.5;
}

.button.has_border:hover {
  background-color:#ddd;
  border-color:#444;
}

.button.has_border.disabled:hover {
  background-color:#fff;
  border-color:#999;
  cursor:default;
}

.button.has_border.active {
  background-color:#ccc;
}
