.checkbox {
  text-decoration:none;
  height:30px;
}

.checkbox:hover {
  cursor:pointer;
}

.checkbox .checkmark {
  position:relative;
  width:20px;
  height:20px;
  margin-top:5px;
  text-align:center;
  border:1px solid #666;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  color:#222;
  font-size:18px;
  background-color:#fff;
}

.checkbox:hover .checkmark {
  background-color:#eee;
  border-color:#222;
}

.checkbox .checkmark_fill {
  height:14px;
  width:14px;
  line-height:16px;
  position:absolute;
  background-color:#222;
  top:3px;
  left:3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.checkbox .label {
  line-height:32px;
  padding:0 0 0 10px;
  text-decoration:none;
  color:#222;
}

.checkbox,
.checkbox .checkmark,
.checkbox .label {
  /* inline-block with IE7 hack */
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align:top;
}
