.pulldown {
  position:relative;
  height:30px;
  /* inline-block with IE7 hack */
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.pulldown.placeholder {
  font-style:italic;
}

.pulldown .button:link,
.pulldown .button:active,
.pulldown .button:hover,
.pulldown .button:visited {
  color:#333;
  text-decoration:none;
}

