.table_view table {
  text-align:left;
  width:100%;
  border-collapse:collapse;
}

.table_view table th {
  padding:0;
  margin:0;
}

.table_view .heading .wrapper {
  border-width:1px 0 1px 1px;
  border-style:solid;
  border-color:#444;
  background-color:#eee;
}

.table_view .heading .last .wrapper {
  border-width:1px 1px 1px 1px;
}

.table_view .content{
  border-style:solid;
  border-color:#444;
  border-width:0 1px 1px 1px;
  padding:5px;
  background-color:#fff;
}

.table_view .wrapper {
  padding:5px 10px;
}

.table_view .content td {
  white-space:nowrap;
  overflow:hidden;
}

.table_view .content td.first > .wrapper {
  padding-left:5px;
}

.table_view .content td.last > .wrapper {
  margin-right:5px;
}

.table_view.clickable .content tr:hover .wrapper {
  background-color:#ddd;
  cursor:pointer;
}

