.text_area {
  position:relative;
  border:1px solid #666;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color:#fff;
  /* inline-block with IE7 hack */
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align:top;
}

.text_area.disabled {
  filter:alpha(opacity=60);
  opacity:0.6;
}

.text_area textarea {
  border:none;
  outline:none;
  margin:5px 4px 4px 4px;
  font-size:14px;
  background-color:#fff;
}
